/* GENERAL / BY DEFAULT */
body{
  font: 16px/24px 'Work Sans', sans-serif;
  color: #464646;
  overflow-x: hidden;
  background-color: #fff;
}

button{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Yeseva One', serif;
}

h1{
  font-size: 3rem;
}

.grey-bg{
  background: #f7f7f7;
}

.lines-section{
  position: relative;
  padding: 130px 0;
}

.lines::before{
  border: 1px solid #464646;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 20%;
}

.lines::after{
  border: 1px solid #464646;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 20%;
}

.btn-black-outline{
  font-size: 1.1rem;
  text-transform: uppercase;
  background: rgba(255,255,255,0);
  border: 1px solid #464646;
  padding: 5px 20px;
  color: #464646;
  transition: 0.2s;
  margin: 20px 0 0 0;
}

.btn-black-outline:hover{
  background-color: #464646;
  color: #fff;
}

/*HEADER*/
header{
  color: #fff;
}

.bg{
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 230px 320px;
}

.logo{
  height: 100px;
}

nav{
  padding: 10px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

nav a{
  color: #fff;
  transition: 0.2s;
  margin: 5px 0 0 0;
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover{
  color: #fff;
}

.nav-link:hover{
  border-bottom: 1px solid #fff;
}

header .heading h1, header .heading p{
  margin: auto;
  width: 60%;
}

header .heading h1{
  font-style: italic;
  padding: 0 0 20px 0;
}

header .line{
  border: 1px solid #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 20%;
}

/*SECTIONS*/
.sectionInfo{
  padding: 80px 40px;
}

.sectionImgs{
  background-position: center center;
  background-size: cover;
  height: 375px;
  width: auto;
}

/*FOOTER*/
footer{
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 60px 0;
  background-color: #464646;
  color: #fff;
}

footer a{
  color: #fff;
  transition: 0.2s;
}

footer a:hover{
  color: #78c2ec;
}

/*LARGE + XLARGE*/
@media only screen and (min-width: 992px){

  #mobNav{
    display: none;
  }

  nav{
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

}

/*MEDIUM*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #mobNav{
    display: none;
  }

  .logo{
    height: 80px;
  }

  nav{
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  header .heading{
    width: 70%;
  }

  header .heading h1{
    font-size: 2.5rem;
  }

  header .heading p{
    font-size: 0.9rem;
  }

  .sectionInfo{
    font-size: 0.9em;
    line-height: 1.3em;
    padding: 30px;
  }

}

/*SMALL + XSMALL*/
@media only screen and (max-width: 767px){

  .logo{
    height: 80px;
  }

  #mobNav{
    color: #464646;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
  }

  #navMenu{
    display: none;
  }

  nav a{
    color: #464646;
  }

  nav a:hover{
    color: #fff;
  }

  .nav-link:hover{
    background-color: #464646;
  }

  .bg{
    padding: 80px 0;
  }

  header .heading h1{
    font-size: 2.5rem;
  }

  header .heading p{
    font-size: 0.9rem;
  }

  header .line{
    border: 1px solid #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 140px;
  }

  h1{
    font-size: 2rem;
  }

}
