/* GENERAL / BY DEFAULT */
.container-fluid{
  padding: 0;
}

body{
  font: 16px/24px 'Work Sans', sans-serif;
  color: #464646;
  overflow-x: hidden;
  background-color: #fff;
}

button{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 3rem;
}

/*NAV*/
.logo{
  height: 100px;
}

.bannerContainer{
  position: relative;
}

nav{
  padding: 10px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

nav a{
  /*color: #464646;*/
  color: #fff;
  transition: 0.2s;
  margin: 5px 0 0 0;
}

nav a:hover{
  color: #78c2ec;
}

.dropdown-menu{
  border: none;
  border-radius: 0;
  font-size: 0.9rem;
}

/*BANNER IMAGE*/
.bannerImg{
  width: 100%;
  height: auto;
}

/*FOOTER*/
footer{
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 60px 0;
  background-color: #464646;
  color: #fff;
}

footer a{
  color: #fff;
  transition: 0.2s;
}

footer a:hover{
  color: #78c2ec;
}

/*LARGE + XLARGE*/
@media only screen and (min-width: 992px){

  #mobNav{
    display: none;
  }

  nav{
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}

/*MEDIUM*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #mobNav{
    display: none;
  }

  .logo{
    height: 80px;
  }

  nav{
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

}

/*SMALL + XSMALL*/
@media only screen and (max-width: 767px){

  .logo{
    height: 80px;
  }

  #mobNav{
    cursor: pointer;
    padding: 10px 0 0 0;
    color: #464646;
  }

  #navMenu{
    display: none;
  }

  nav a{
    color: #464646;
  }

}
